#mod-menu{
	 border-style: 0;
    border-right: thick double #ff0000;
    height: 100%;
    padding: 20px;

	a{
		width: 100%;
		font-weight: 700;
		text-align: right;
		color: #09960e;
		text-transform: uppercase;
	}
}