 <form action="/division/update/{{division._id}}" method="POST" class="form-horizontal" name="form" role="form">
            <div class="form-group">
                <legend>Update division</legend>
            </div>

            <div class="hidden">
                <input type="text" class="form-control" name="id" id=""  value="{{division._id}}" required placeholder="id">
            </div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" id=""  value="{{division.name}}" required placeholder="Name">
            </div>
        
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" required  value="{{division.note}}"  name="note"  id="" placeholder="Note">
            </div>

            <div class="form-group">
                <div class="col-md-10 col-sm-offset-2">
                    <button type="submit"   class="btn btn-primary confirm-update">Update</button>
                    <a href="/division"  role="button" class="btn btn-default confirm-cancel">Cancel</a>
                </div>
            </div>
</form>