 <form method="POST" class="form-horizontal" action="/people/new" name="form" role="form">
            <div class="form-group">
                <legend>Add new person</legend>
            </div>

            <div class="hidden">
                <input type="text" class="form-control" name="id" id=""  value="{{person.id}}">
            </div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" id="" required placeholder="Your name">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email"  id="" placeholder="Your email">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone"  id="" placeholder="Enter your phone number">
            </div>
            <div class="form-group">
                <label>Division</label>
                <select class="form-control"  name="division" >
                  {{#each division}}
                    <option value="{{this._id}}">{{this.name}}</option>}
                  {{/each}}
                </select>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-sm-offset-4">
                    <button type="submit"  class="btn btn-primary">Add</button> 
                </div>
            </div>
        </form>